Interfaz/bartMethods/__pycache__/buildBart.cpython-310.pyc
Interfaz/classes/__pycache__/viewClass.cpython-310.pyc
Interfaz/classes/__pycache__/viewMethods.cpython-310.pyc
Interfaz/classes/__pycache__/viewMethods.cpython-310.pyc
Interfaz/classes/__pycache__/viewClass.cpython-310.pyc
Interfaz/bartMethods/__pycache__/buildBart.cpython-310.pyc
